
//Impostazioni di base per SCSS

:root {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #d5d4d4;
  background-color: #100f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav, footer {
  background-color: #212121;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.page {
  padding: 1rem;
}

.loader{
  display: flex;
  justify-content: center;
  
  img{
    width: 100px;
    border-radius: 30%;
  }
}

h1{
  font-family: "Silkscreen", sans-serif;
  text-align: center;
  margin-bottom: 0.5rem;
}

button {
  padding: .5rem 1rem;
  width: 200px;
  text-decoration: none;
  background-color: #e75562;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
  &:hover {
    background-color: #e77f87;
    border-color: #e77f87;
    transform: scale(1.05);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e77f87;
  }
  &:active {
    transform: scale(0.98);
  }
}

 //----------------------------------------------------------//

 //Stile NAVBAR
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  
  .navbar-img {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    img {
      width: 60px;
      transition: transform 0.3s ease;
      
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  menu {
    display: flex;
    gap: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    color: #e75562;
    a {
      font-weight: bold;
      text-decoration: none;
      list-style-type: none;
      color: #e75562;
      cursor: pointer;   
      &:hover {
        color: #fff;
      }
    }
  }
}

 //----------------------------------------------------------//

 //Stile HOMEPAGE
 .home-page {
  padding: 20px;

  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #fff; 
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: center;

    .home-img {
      width: 100%;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;

      .intro {
        font-size: 1.2rem;
        color: #ccc; 
      }

      .explore-btn {
        padding: .5rem 1rem;
        width: 200px;
        text-decoration: none;
        background-color: #e75562;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
        &:hover {
        background-color: #e77f87;
        border-color: #e77f87;
        transform: scale(1.05);
        }
        &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #e77f87;
        }
        &:active {
        transform: scale(0.98);
        }
      }
    }
  }
}
 //----------------------------------------------------------//

 //Stile per POKEDEX
 .title-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button{
    padding: .5rem 1rem;
      width: 200px;
      text-decoration: none;
      background-color: #e75562;
      color:  #d5d4d4;
      border: 1px solid black;
      border-radius: 5px;
      margin-bottom: 1rem;
      cursor: pointer;
      &:hover {
      background-color: #e77f87;
  }
 }
}
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    list-style-type: none;
  }
 .pokemon-card {
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.5rem;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
  figure {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}

//Stile per far cambiare dinamincamente lo sfondo delle PokemonCard
.normal-background {
  background-color: #626762;
}
.fire-background {
  background-color: rgba(149, 7, 8, 0.9);
}
.water-background {
  background-color: rgba(5, 84, 183, 0.9);
}
.grass-background {
  background-color: rgba(27, 103, 10, 0.9);
}
.electric-background {
  background-color: rgba(228, 175, 0, 0.9);
}
.normal-background {
  background-color: rgba(105, 111, 105, 0.9);
}
.ice-background {
  background-color: rgba(9, 161, 200, 0.9);
}
.fighting-background {
  background-color: rgba(182, 91, 0, 0.9);
}
.poison-background {
  background-color: rgba(85, 17, 134, 0.9);
}
.ground-background {
  background-color: rgba(86, 41, 6, 0.9);
}
.flying-background {
  background-color: rgba(56, 124, 189, 0.9);
}
.psychic-background {
  background-color: rgba(204, 38, 91, 0.9);
}
.bug-background {
  background-color: rgba(99, 112, 3, 0.9);
}
.fairy-background {
  background-color: rgba(199, 59, 199, 0.9);
}
.rock-background {
  background-color: rgba(123, 116, 65, 0.9);
}
.dragon-background {
  background-color: rgba(28, 44, 171, 0.9);
}
.ghost-background {
  background-color: rgba(66, 18, 66, 0.9);
}
.steel-background {
  background-color: rgba(47, 111, 134, 0.9);
}

  //----------------------------------------------------------//


  //Stile per pagina LOGIN/SIGNUP
  .signup-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .pikachu-gif{
      img {
        width: 100px;
      }
    }
  }
  .signup{
    padding: 1rem;
    border-radius: 10px;
    width: 400px;
    form {
      background-color: #ffffff;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 400px;
      margin-top: 2rem;
      .form-value {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        p {
          margin-bottom: 0.5rem;
          color: black;
        }
        input{
          padding: 0.5rem;
          border: 1px solid #cccccc;
          border-radius: 5px;
          font-size: 1rem;
        }
      }
      .buttons{
        display: flex;
        justify-content: center;
        button{
          width: 100%;
        }
      }
    }
    .loader {
      text-align: center;
      margin-top: 1rem;
    }
    .info.error {
      color: #e75562;
      text-align: center;
      margin-top: 1rem;
    }
  }
 //----------------------------------------------------------//

//Stile FOOTER
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}
 //----------------------------------------------------------//

 //Stile per i DIALOG 

 dialog {
  width: 80vw;
  height: 80vh;
  left: calc((100vw - 80vw)/2);
  top: calc((100vh - 80vh)/2);
  border: 1px solid white;
  .close {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    text-align: center;
    button {
      font-weight: bold;
      font-size: 1.5rem;
      width: 30px;
      height: 30px;
      padding: 0;

    }
 }
}
 .poke-container {
  text-align: center;
  h2{
    margin-bottom: 0.5rem;
  }
  img {
    width: 300px;
    height: auto;
    border-radius: 0.3rem;
  }
  p{
    margin: 0.3rem 0;
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  body.modal-open {
    overflow: hidden;
  }
 }
 .escape-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 0.3;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  p {
    font-family: "Silkscreen", sans-serif; 
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
 }